{% extends "base.html" %}
{% load static %}

{% block title %}
Overview
{% endblock %}

{% block extra_css %}

<link rel="stylesheet"
          href="{% static 'css/base.css' %}">

<link rel="stylesheet"
      href="{% static 'css/add_review.css' %}">

{% endblock %}

{% block content %}

<div class="default-page">

    <form method="post">
        {% csrf_token %}

        <label for="country" class="form-label">Country:</label><br>

        <input type="text" id="country" name="country" class="form-input" required><br>
        
        <br>

        <label for="overall_score" class="form-label">Overall Score (out of 5):</label>
        
        <br>

        <div class="select-wrapper">
            <select id="overall_score" name="overall_score" class="form-select">
                <option value="1" class="small-text">1</option>
                <option value="2" class="small-text">2</option>
                <option value="3" class="small-text">3</option>
                <option value="4" class="small-text">4</option>
                <option value="5" class="small-text">5</option>
            </select>
        <br><br>
        </div>

        <label for="comment" class="form-label">Comment:</label><br>

        <textarea id="comment" name="comment" class="form-textarea" rows="5" cols="40"></textarea><br><br>

        {% if messages %}
            {% for message in messages %}
                <div class="error-text">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <button type="submit" class="blue-button">Submit Review</button>
    </form>

</div>

{% endblock %}