{% extends "base.html" %}
{% load static %}

{% block title %}
Visited Countries
{% endblock %}

{% block extra_css %}
<link rel="stylesheet"
      href="{% static 'css/base.css' %}">

<link rel="stylesheet"
      href="{% static 'css/country_detail.css' %}">
{% endblock %}

{% block content %}

    <div class="default-page">
        <h2 class="big-text">{{ review.country }}</h2>

        <div class="detail-section">
            <label class="form-label">
                Overall Rating:
            </label>
            <p class="detail-card">
                {{ review.overall_score }}/5
            </p>
        </div>

        <div class="detail-section">
            <label class="form-label">
                Comment:
            </label>
            <p class="detail-card">
                {{ review.comment }}
            </p>
        </div>

        <div class="detail-section">
            <label class="form-label">
                Reviewed on:
            </label>
            <p class="detail-card">
                {{ review.created_date }}
            </p>
        </div>

        <form action="{% url 'delete_review' review.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="blue-button">
                Delete this review
            </button>
        </form>

        <br>

        <a href="{% url 'visited_countries' %}" class="blue-button">
            ← Back to Visited Countries
        </a>
    </div>

{% endblock %}