{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Wanderlust Log</title>

        <link rel="stylesheet"
          href="{% static 'css/base.css' %}">

        <link rel="stylesheet"
          href="{% static 'css/login.css' %}">
    </head>

    <body>

        <div class="login-page">

            <h1 class="middle-text">Password Reset Done!</h1>
            <p class="small-text">Login with your new password</p>

            <a href="{% url 'login' %}" class="blue-button">
                Get Started
            </a>

        </div>
            
    </body>

</html>
