{% extends "base.html" %}
{% load static %}

{% block title %}
Profile
{% endblock %}

{% block extra_css %}
<link rel="stylesheet"
      href="{% static 'css/base.css' %}">

<link rel="stylesheet"
      href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}

<div class="profile-page">

    <div class="profile-picture">
        <img src="{{ user.profile.image.url }}"
            alt="Profile Picture">
    </div>

    <h2 class="big-text">{{ user.username }}</h2>

    <div class="small-text">
        <p>{{ user.profile.bio }}</p>
    </div>

    <a href="{% url 'edit_profile' %}" class="blue-button">
        Edit Profile
    </a>

</div>

{% endblock %}